<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="stylesheet" href="{{ " /assets/css/style.css" | relative_url }}">
</head>

<body>
    <main>
        {{ content }}
    </main>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
</body>

</html>